.profile__edit-button {
  grid-template-areas: button;
  border: none;
  background: url(../../../images/Edit-Button.svg) 20px 36px no-repeat;
  margin: 0;
  padding: 0;
}

@media (max-width: 680px) {
  .profile__edit-button{
    width: 18px;
    aspect-ratio: 1;
    background-position: center;
    align-self: center;
  }
}