.popup__input {
  width: 358px;
  margin: 32px auto 0;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color_dark);
}

@media (max-width: 680px) {
  .popup__input {
    width: 238px;
  }
}
