.popup__image_close-icon {
  margin: 0;
  padding: 16px;
  background: url(../../../images/Close-Icon.svg) center no-repeat;
  width: 32px;
  border: none;
  aspect-ratio: 1;
  align-self: end;
  transform: translate(40px, -34px);
}

@media (max-width: 680px) {
  .popup__image_close-icon {
    scale: 0.625;
    transform: translate(12px, -16px);
  }
}
