.popup__figure {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50px;
  max-width: 75vw;
  max-height: calc(75vh+40px+25px);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

@media (max-width: 680px) {
  .popup__figure {
    height: calc(75vh+36px+25px);
  }
}
