.popup__close-icon {
  background: url(../../../images/Close-Icon.svg);
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  left: calc(50% + 226px);
  top: 155px;
  z-index: 2;
  opacity: 1;
}

.popup__close-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 680px) {
  .popup__close-icon {
    width: 20px;
    aspect-ratio: 1;
    left: calc(50% + 121px);
    top: 93px;
  }
}
