.popup__close-icon {
  background: url(../../../images/Close-Icon.svg);
  width: 32px;
  aspect-ratio: 1;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(40px, -40px);
  border: none;
}

@media (max-width: 680px) {
  .popup__close-icon {
    scale: 0.625;
    transform: translate(12px, 48px);
  }
}

.popup__close-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
