.popup__close-icon {
  background: url(../../../images/Close-Icon.svg);
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  left: calc(50% + 226px);
  top: 155px;
  z-index: 2;
  opacity: 1;
  border: none;
}

@media (max-width: 680px) {
  .popup__close-icon {
    scale: 0.625;
    left: calc(50% + 117px);
    top: 88px;
  }
}

.popup__close-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
