.profile__info {
  display: grid;
  max-width: 100%;
  grid-template-columns: 168.76px 294px 49px;
  grid-template-areas: "avatar title button"
  "avatar subtitle subtitle";
}

@media (max-width:320px) {
  .profile-info {
    grid-template-columns: 141px 141px;
    grid-template-areas: "avatar avatar"
    "title button"
  "subtitle subtitle";
  }
}